<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>ITSAppUsesNonExemptEncryption</key>
    <true/>
    <key>NSCameraUsageDescription</key>
    <string>elo.now uses your camera when you turn on video in a call.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>elo.now uses your microphone so people in your call can hear you.</string>
</dict>
</plist>
